* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 10px;
    background-color: beige;
    margin: 1px;
}

button {
    cursor: pointer;
    padding: 4px;
    border: 1px solid;
    border-radius: 10px;
}

h1 {
    text-decoration: underline;
}

/* All Sidebar related styles start here and */

.sidebar {
    padding: 5px;
    border: 1px solid;
    display: grid;
    grid-template-rows: 35px 100px 35px 1fr;
    row-gap: 10px;
}


/* End Here */

/* All content related styles start here and */

.content {
    padding: 4px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
/* End here */

/* Modal styling */
